{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="desktop-12 tablet-6 mobile-full">
            <h1>{{ 'error.title' |trans({}, 'app') }}</h1>

            <p>
                {{ 'error.body' |trans({}, 'app') }} <a href="{{ path('home') }}">{{ '404.link' |trans({}, 'app') }}</a>
            </p>
        </div>
    </div>
{% endblock %}