{% extends 'frontend.html.twig' %}

{% block body -%}
    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="padded">

            <h1>{{ title |trans({}, 'pagines') }}</h1>

            <div class="edicio right clearfix">
                <a href="{{ path('pagina_new') }}">Afegir una nova</a>
            </div>

            {% for grup in entities %}
                <h3 class="capitalize">{{ grup.nom }}</h3>
                {% for entity in grup.menus %}
                    <div class="record split" data-id="{{ entity.id }}">
                        {% include 'Pagina/pagina.html.twig' with {'entity': entity } %}
                    </div>        
                {% endfor %}   
            {% endfor %}    

        </div>

    {% endif %}    
{% endblock %}
