
<div class="pagina">
    <div class="row">      
        {% if app.user and is_granted("ROLE_EDITOR") %}
            <div class="edicio amagat">
                <a href="{{ path('pagina_edit', { 'id': entity.id, '_locale':'ca' }) }}">Editar CA</a>
                <a href="{{ path('pagina_edit', { 'id': entity.id, '_locale':'es' }) }}">Editar ES</a>
                <a href="{{ path('pagina_edit', { 'id': entity.id, '_locale':'en' }) }}">Editar EN</a>
                <a href="{{ path('pagina_delete', { 'id': entity.id }) }}" class="delete">Eliminar</a>
            </div>
        {% endif %}

        <div class="media">
            {% if entity.foto is not null %}
                <div class="foto"><img src="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ entity.foto.webpath }}" width="150" ></div>
            {% endif %}
            <div class="bd">
                <div class="titol">{{ entity.titol }}</div><span>{{ entity.slug }}</span>
                <p class="texte">{{ entity.texte|truncate(600)|raw }}</p>
            </div>            
        </div>                
    </div>
</div>
