{% extends 'base.html.twig' %}

{% block content %}

  <div class="row">
    <div class="desktop-10 tablet-4 mobile-full centered">
      
      <h2>{{ 'labels.projectes' |trans({}, 'app') }}</h2>
      
      {% for any in anys %}
        
        <h3>{{ any.any }}</h3>
        
        {% for item in any.items %}
          
            <div class="record split">

              {% include 'Projecte/projecte_memoria.html.twig' with { 'entity': item, 'personal': item.investigador.id } %}

            </div>
          
        {% endfor %}  
        
      {% endfor %}
      
    </div>


  </div>
  <div class="row">
    <div class="desktop-10 tablet-4 mobile-full centered">
      {{ knp_pagination_render(anys) }}
    </div>        
  </div>

{% endblock %}
