{% extends 'base.html.twig' %}

{% block content %}

  <div class="row">
    <div class="desktop-10 tablet-4 mobile-full centered">
      {#{ anys|ladybug_dump }#}
      
      {% for any in anys %}
        
        <h3>{{ any.any }}</h3>
        
        {% for grup,items in any.grups %}
          
          <h4>{{ grup |trans({}, 'app') }}</h4>
          
          {% for item in items %}
            {% if class(item) == 'Proclamo\\AppBundle\\Entity\\Projecte' %}

            <div class="record split">

              {% include 'Projecte/projecte_memoria.html.twig' with { 'entity': item, 'personal': item.investigador.id } %}

            </div>

            {% endif %}  

            {% if class(item) == 'Proclamo\\AppBundle\\Entity\\Publicacio' %}

              <div class="record split">

                {% include 'Publicacio/publicacio_memoria.html.twig' with { 'entity': item } %}

              </div>

            {% endif %}
          {% endfor %}
          
        {% endfor %}  
        
      {% endfor %}
      
    </div>


  </div>
  <div class="row">
    <div class="desktop-10 tablet-4 mobile-full centered">
      {{ knp_pagination_render(anys) }}
    </div>        
  </div>

{% endblock %}
