{% extends 'base.html.twig' %}

{% block idiomas %}
    
    {% for idioma in idiomas %}
        <a href="{{ idioma.ruta }}">{% if idioma.lang == 'en' %} English {% elseif idioma.lang == 'es' %} Español {% else %} Català {% endif %}</a>
    {% endfor %}    
    
{% endblock %}    

{% block content %}
    
        <div class="pagina">
            
            <div class="row content">
                <div class="padded desktop-8 tablet-3 mobile-full centered">
                    
                    {% if entity.foto is not null %}
                        <div class="foto">
                            <img src="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ entity.foto.webpath }}" >
                            {% if app.user and is_granted("ROLE_EDITOR") %}
                                <div class="trash" title="esborrar" data-path="{{ path('delete_image_pagina_ajax', { 'id': entity.id }) }}"></div>
                            {% endif %}
                        </div>
                    {% endif %}
                    
                    <h1>{{ entity.titol }}</h1>
                    <p>{{ entity.texte|raw }}</p>
                </div>                
            </div>
        </div> 
    
{% endblock %}    
