{% extends 'base.html.twig' %}

{% block content %}
    
    <div class="padded">
        {% for entity in entities %}
            <div class="record split">
                {% include 'Site/result.html.twig' with {'entity': entity } %}
            </div>   
        {% else %}
            <div class="record split">
                {{ 'no_results' |trans({}, 'app') }}
            </div>
        {% endfor %}
        
        {% if entities |length > 0 %}
            {{ knp_pagination_render(entities) }}
        {% endif %}
        
    </div>

{% endblock %}    
