
<div class="publicacio padded">

    <div class="per_sobre" id="publicacio_{{ entity.id }}" ></div>

    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="edicio right amagat">
            <a href="{{ path('publicacio_edit', { 'id': entity.id, 'personal': personal, '_locale':'ca' }) }}">Editar CA</a>
            <a href="{{ path('publicacio_edit', { 'id': entity.id, 'personal': personal, '_locale':'es' }) }}">Editar ES</a>
            <a href="{{ path('publicacio_edit', { 'id': entity.id, 'personal': personal, '_locale':'en' }) }}">Editar EN</a>
            <a href="{{ path('publicacio_delete', { 'id': entity.id, 'personal': personal }) }}" class="delete">Eliminar</a>
        </div>
    {% endif %}

    <span><b>{{ membres(entity, true) | raw }}</b></span>

    {% if entity.any is not null %}
        <span> ({{ entity.any }}).</span>
    {% endif %}

    <span>"{{ entity.titol }}".</span>
    
    <span>{{ entity.referencia |raw }}</span>

    {% if entity.ciutat is not null %}
        <span> {{ entity.ciutat }}
          {% if entity.pais is not null %}, {% endif %}
        </span>
    {% endif %}

    {% if entity.pais is not null %}
         ({{ entity.pais }})
    {% endif %}

    {% if entity.ciutat is not null or entity.pais is not null %}. {% endif %}

    <span>
        {% if entity.nomMedi is not null %}
            <i>{{ entity.nomMedi }}</i>
        {% endif %}

        {% if entity.volum is not null %}
            vol. {{ entity.volum }}
        {% endif %}
        {% if entity.pagines is not null %}
            p. {{ entity.pagines }}
        {% endif %}
    </span>



</div>
