<div class="publicacio padded">

    <span><b>{{ membres(entity, true) | raw }}</b></span>

    {% if entity.any is not null %}
        <span> ({{ entity.any }}).</span>
    {% endif %}

    <span>"{{ entity.titol }}".</span>
    
    <span>{{ entity.referencia |raw }}</span>

    {% if entity.ciutat is not null %}
        <span> {{ entity.ciutat }}
          {#{% if entity.pais is not null %}, {% endif %}#}
        </span>
    {% endif %}

    {% if entity.pais is not null %}
         ({{ entity.pais }})
    {% endif %}

    {#{% if entity.ciutat is not null or entity.pais is not null %}. {% endif %}#}

    <span>
        {% if entity.nomMedi is not null %}
            <i>{{ entity.nomMedi }}</i>
        {% endif %}

        {% if entity.volum %}
            vol. {{ entity.volum }}
        {% endif %}
        {% if entity.pagines is not null %}
            p. {{ entity.pagines }}
        {% endif %}
    </span>

</div>
