<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=7,8,9" />
        <meta charset="UTF-8" />        
        <title>{% block title %}URV - Departament de Gestió i Empresa{% endblock %}</title>
        <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
        <link href="{{ asset('css/fs.gridlock.css') }}" rel="stylesheet">
        <!-- [if IE lt 10]>
            <link href="{{ asset('css/fs.gridlock.ie.css') }}" rel="stylesheet">
        <![endif]-->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/js-cookie-master/src/js.cookie.js') }}"></script>
</head>
<body class="gridlock gridlock-16">
{% block javascripts %}{% endblock %}
<script type="text/javascript">
    $(function () {

        var headerHeight = $('#div-logo').outerHeight(),
                menuHeight = $('.navigation').outerHeight();

        $(window).scroll(function () {
            if ($(window).scrollTop() >= (menuHeight + headerHeight)) {
                $('.navigation').addClass('sticky');
                $('.page').css('margin-top', menuHeight + 'px');
            }
            else {
                $('.navigation').removeClass('sticky');
                $('.page').css('margin-top', '0');
            }
        });

        $('.navigation ul li').on('mouseover', function (el) {
            $(this).find('.menu_level_1').show();
        });
        $('.navigation ul li').on('mouseout', function (el) {
            $(this).find('.menu_level_1').hide();
        });

        $('.delete').on('click', function (ev) {
            if (!confirm('Està segur de voler eliminar?')) {
                ev.preventDefault();
                ev.stopPropagation();
                return;
            }
        });

        $('.trash').on('click', function (ev) {
            ev.preventDefault();
            ev.stopPropagation();

            if (confirm('Està segur de voler eliminar?')) {
                var url = $(this).data('path');
                var target = $(this).parent();

                if (url) {
                    $.post(url, function (response) {
                        target.fadeOut();
                    });
                }
            }
        });
                
        if (Cookies.get('cookies.dge.urv')) {
            $('#cookies').hide();
        }
        else {
            $('#cookies').show();
        }
        
        $('.acceptar-cookie').on('click', function(ev) {
           ev.stopPropagation();
           ev.preventDefault();
           
           Cookies.set('cookies.dge.urv', true, { expires: 365 });
           
           $('#cookies').hide();
           
        });
    });
</script>

<div class="cuerpo">
    <div class="header-positioner">
        <header class="header">
            <div class="row">
                <div class="desktop-12 tablet-6 mobile-full">
                    <div class="navigation_full">                        
                        <nav class="gateways">
                            {% if app.user and is_granted("ROLE_SUPER_ADMIN") %}
                                <a href="{{ path('usuaris_index') }}">Administrar usuaris</a>
                                <a href="{{ path('menus_index') }}">Menus</a>
                                <a href="{{ path('pagina_index') }}">Pàgines</a>
                            {% endif %}
                        </nav>                        
                        <nav class="consistent">     

                            {% block idiomas %}
                                {% if app.request.get('_route') is not null and app.request.get('_route_params') is not null %}
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({ '_locale': 'ca' })) }}">Català</a>
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({ '_locale': 'es' })) }}">Español</a>
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({ '_locale': 'en' })) }}">English</a>
                                {% endif %}    
                            {% endblock %}

                            {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <span>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="div-logo" class="desktop-12 tablet-6 mobile-full">
            <div class="row">
                <a href="{{ path('home') }}" class="home logo">Departament de gestió d'empreses</a>

                <div class="right">
                    <form action="{{ path('search') }}" method="get" class="search">
                        <fieldset>
                            <input type="text" placeholder="Buscar" name="q" class="text">
                            <input type="submit" class="submit">
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

        <nav class="navigation">
            <div class="row">
                <div class="desktop-12 tablet-6 mobile-full">
                    {{ knp_menu_render('main') }}
                </div>
            </div>
        </nav>


        <div class="page page-container centered">
            {% block content %}

            {% endblock %}        
        </div>         
        <footer>
            <div class="bg">
                <div class="row">
                    <div class="desktop-6 tablet-4 mobile-full">
                        <div class="container">
                            <nav class="links">
                                <p class="address">
                                    <strong>Departament de Gestió d'Empreses</strong>
                                    <br/>
                                    Campus Bellissens
                                    <br/>
                                    Av. de la Universitat, 1, 2a planta Mas Vila Barberà
                                    <br />
                                    43204 Reus
                                    <br/>
                                    <br/>
                                    <a href="https://www.google.com/maps/d/viewer?ll=41.1462,1.117795&iwloc=0004baa905b3210b2dbfd&msa=0&spn=0.012151,0.021994&mid=ziTUxYbBh6fk.k_gs0BnWwRWI" target="_blank">{{ 'mapa' |trans({}, 'app') }}</a>
                                    <br/>
                                    <br/>
                                    e-mail: <a href="mailto:webdge@urv.cat">webdge@urv.cat</a>
                                    <br/>
                                    Tel.: 977 75 98 71
                                    <br/>
                                    Fax: 977 75 98 14                                    
                                    <br/>
                                    <br/>
                                    <a href="http://www.igualadina.com/pdfs/tar_reu.pdf" target="_blank">{{ 'bus' |trans({}, 'app') }} Tarragona-Reus</a>
                                </p>                              
                            </nav>                            
                        </div>


                    </div>
                    <div class="desktop-6 tablet-4 mobile-full bordered">
                        <div class="container">
                            <nav class="links">
                                <ul>
                                    <li><a href="http://www.fee.urv.cat/index.html" target="_blank">FEE (Facultat d'economia i empresa)</a></li>
                                    <li><a href="http://www.urv.cat/crai/" target="_blank">CRAI (Learning and research resource center)</a></li>
                                    <li><a href="http://moodle.urv.cat/moodle/" target="_blank">MOODLE URV</a></li>
                                </ul>                                
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="final">
            <div class="row">
                <div class="desktop-12 tablet-12 mobile-full">                    
                    <span>&copy; {{ "now" | date('Y') }}</span>
                </div>
            </div>
        </div>
    </div>        
</div>

<div id="cookies" style="display:none;z-index: 999;opacity: 1;position:fixed;bottom:0;left:0;width:100%;background: #232323 url(http://www.fcj.urv.cat/media/comu/cookies/bg.jpg) repeat-x;color:#fff;padding:15px 0;font-size: 1.1em;text-align:center;" class="clearfix">
    <div class="row">
        <div class="ten columns centered">
            <img src="http://www.fcj.urv.cat/media/comu/cookies/logo-urv.png" width="49" height="32" alt="" style="position:absolute;margin-left:-24px;left:50%;top:-22px;">
            <p style="margin:3px 0 10px;font-size:.85em;line-height:1.4;text-align:center;">Aquest web utilitza cookies pròpies i de tercers per oferir-vos la millor experiència d'usuari.<br> Si continues navegant, entenem que autoritzeu l'ús d'aquestes cookies. <a class="noaccept" style="color:#CBAA11;border:none;text-decoration:underline;" href="http://www.urv.cat/informacio-cookies.html" target="_blank">Més informació</a></p> 
            <p style="padding:0;margin:0 0 3px;">
                <a class="acceptar-cookie" href="javascript:void(0);" style="background-color:#FFD241;border-radius: 5px;padding:3px 20px;text-decoration:none;color:#333;font-size:.875em;border-bottom:none;">D'acord</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>
