{% extends 'base.html.twig' %} 

{% block content %}    
    <div class="row">
        <div class="desktop-10 tablet-4 mobile-full centered">
            {% block body %}
            {% endblock %}    
        </div>
    </div>    
{% endblock %}    
