{% extends 'frontend.html.twig' %}

{% block body -%}
    <article>
        <div class="padded">

            <h1>{{ title |trans({}, 'app') }}</h1>

            {% if app.user and is_granted("ROLE_EDITOR") %}
                <div class="edicio right clearfix">
                    <a href="{{ path('noticia_new') }}">Afegir una nova</a>
                </div>
            {% endif %}

            {% include 'Noticia/llistat.html.twig' with { 'entities': entities } %}   

        </div>
    </article>

{% endblock %}    
