{% for entity in entities %}
    <div class="record split" data-id="{{ entity.id }}">
        <div class="new">
            <h3><a href="{{ path("noticia_show", { 'slug': entity.slug }) }}">{{ entity.titol }}</a></h3>
            <div class="row">
                <a class="right" href="{{ path("noticia_show", { 'slug': entity.slug }) }}">{{ 'labels.ver_mas'|trans({}, 'app') }}</a>
            </div>
        </div>
    </div>        
{% else %}
    <p>{{ 'sense_noticies' | trans({}, 'app') }}</p>    
{% endfor %}   
