{% block news %}
    <article>
        <div class="padded">
            
            {% include 'Noticia/llistat.html.twig' with { 'entities': entities, 'class': '' } %}

        </div>
    </article>

{% endblock %} 
