{% extends 'frontend.html.twig' %}

{% block body -%}
    
    <div class="padded">
        <a class="return right" href="{{ path('noticia_index') }}">{{ 'tornar' |trans({}, 'app') }}</a>
    </div>
    
    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="edicio">
                <a href="{{ path('noticia_edit', { 'id': entity.id }) }}">Editar</a>
                <a  href="{{ path('noticia_delete', { 'id': entity.id }) }}" class="delete">Eliminar</a>
        </div>
    {% endif %}
    
    <div class="padded">
        {% include 'Noticia/noticia.html.twig' with {'entity': entity } %}
    </div>
    
{% endblock %}    