{% extends 'frontend.html.twig' %}

{% block title %}{{ parent() }} - {{ title |trans({}, 'menu') }}{% endblock %}

{% block body -%}
    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="padded">
            <h1>{{ title |trans({}, 'menu') }}</h1>

                <div class="edicio right clearfix">
                    <a href="{{ path('usuari_new') }}">Afegir un nou</a>
                </div>


            {% for entity in entities %}
                <div class="record split" data-id="{{ entity.id }}">
                    {% include 'User/user.html.twig' with {'entity': entity } %}
                </div>        
            {% endfor %}   

        </div>

    {% endif %}    
{% endblock %}
