
<div class="user">
    <div class="row">
        {% if app.user and is_granted("ROLE_EDITOR") %}
            <div class="edicio amagat">

                    <a href="{{ path('usuari_edit', { 'id': entity.id }) }}">Editar</a>
                    <a  href="{{ path('usuari_delete', { 'id': entity.id }) }}" class="delete">Eliminar</a>
            </div>
        {% endif %}
        <span>{{ entity.username }}</span>
        <span>{{ entity.email }}</span>
        <span>{% if ('ROLE_SUPER_ADMIN' in entity.roles) %} és administrador {% endif %} </span>
    </div>
</div>
