{% extends 'frontend.html.twig' %}

{% form_theme edit_form 'form.html.twig' %}

{% block body -%}    
    <div class="zona-edicio">
        <h1>{{ entity.cognoms }}, {{ entity.nom }} - (Idioma: {{ _locale }} )</h1>
        
        <form action="{{ path('personal_update', { 'id': entity.id, '_locale': _locale }) }}" method="POST" {{ form_enctype(edit_form) }} class="pure-form pure-form-aligned">
            {{ form_widget(edit_form) }}

            <div class="pure-controls">
                <a class="pure-button pure-button-active" href="{{ path('personal_show', { 'id': entity.id } ) }}">Cancelar</a>
                <input class="pure-button pure-button-active" type="submit" value="Guardar" />
            </div>
        </form>
    </div>
    
{% endblock %}
