{% extends 'frontend.html.twig' %}

{% block title %}{{ parent() }} - {{ title |trans({}, 'menu') }}{% endblock %}

{% block body -%}
    <div class="padded">
        <h1>{{ title |trans({}, 'menu') }}</h1>
    
        {% if app.user and is_granted("ROLE_EDITOR") %}
            <div class="edicio right clearfix">
                <a href="{{ path('personal_new') }}">Afegir un nou</a>
            </div>
        {% endif %}    

        {% for entity in entities %}
            <div class="record split">
                {% include 'Personal/personal_resumido.html.twig' with {'entity': entity } %}
            </div>        
        {% endfor %}   
        
        {{ knp_pagination_render(entities) }}
        
    </div>
      
{% endblock %}
