{% extends 'frontend.html.twig' %}

{% form_theme form 'form.html.twig' %}

{% block body -%}
    <div class="zona-edicio">
        <h1>Nou Personal</h1>

        <form method="POST" action="{{ path('personal_create') }}" {{ form_enctype(form) }} class="pure-form pure-form-aligned">
            {{ form_widget(form) }}

            <div class="pure-controls">
                <a class="pure-button pure-button-active" href="{{ path('personal') }}">Cancelar</a>
                <input class="pure-button pure-button-active" type="submit" value="Crear" />
            </div>
        </form>
    </div>
{% endblock %}
