
<div class="personal hoverable">
    <div class="picture desktop-2 tablet-2 mobile-1">
        {% if entity.foto is not null %}
            <div class="media">
                <img src="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ entity.foto.webpath }}" width="100" >

                {% if app.user and is_granted("ROLE_EDITOR") %}
                    <div class="trash" title="esborrar" data-path="{{ path('delete_image_ajax', { 'id': entity.id }) }}"></div>
                {% endif %}    

            </div>

        {% endif %}
    </div>
    <div class="perfil">
        <div class="nom">{{ entity.cognoms }}, {{ entity.nom }}</div>
        
        {% if app.request.locale != 'en' %}
          <div class="tipus">{{ entity.tipus | categoria |trans({}, 'app') }} {% if entity.jornada is not null and entity.jornada != "varis" %} {{ entity.jornada | dedicacio |trans({}, 'app') }} {% endif %} </div>
        {% endif %}
        
        {% if entity.situacio is not null and app.request.locale != 'en' %}
            <div class="situacio">{{ entity.situacio |situacio |trans({}, 'app') }}</div>
        {% endif %}
        
        {% if entity.dataAlta is not null %}            
            <div class="alta-baixa">
                <span>{{ 'labels.dataalta' |trans({}, 'app') }}: {{ entity.dataAlta | date('d/m/Y') }}</span>
                {% if entity.dataAlta is not null and entity.dataBaixa is not null %}
                    <span>{{ 'labels.databaixa' |trans({}, 'app') }}: {{ entity.dataBaixa | date('d/m/Y') }}</span>
                {% endif %}
            </div>
        {% endif %}
        
        {% if entity.especialitat is not null %}
            <div class="especialitat">{{ 'labels.especialitat' |trans({}, 'app') }}: {{ entity.especialitat | especialitat |trans({}, 'app') }}</div>
        {% endif %}
        
        {% if entity.grup is not null %}
            <div class="recerca">{{ 'labels.grup_recerca' | trans({}, 'app') }}: {{ entity.grup }}</div>
        {% endif %}

        {% if entity.grupurv is not null %}
            <div class="recerca">{{ 'labels.grup_recerca_urv' | trans({}, 'app') }}: {{ entity.grupurv }}</div>
        {% endif %}    

        <div class="email"><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></div>
            {% if entity.telefon is not null %}
            <div class="tel">{{ entity.telefon }}</div>
        {% endif %}
        {% if entity.despatx is not null %}
            <div class="despatx">{{ 'labels.despatx' |trans({}, 'app') }}: {{ entity.despatx }}</div>
        {% endif %}    
        {% if entity.perfil is not null %}
            <p class="perfil">{{ entity.perfil }}</p>
        {% endif %}

        {% if entity.curriculum is not null %}
            <div class="media">
                <a href="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ entity.curriculum.webpath }}" target="_blank">{{ 'personal.cv' |trans({}, 'app') }}</a>

                {% if app.user and is_granted("ROLE_EDITOR") %}
                    <div class="trash left" title="esborrar" data-path="{{ path('delete_cv_ajax', { 'id': entity.id }) }}"></div>
                {% endif %}

            </div>            

        {% endif %}

        {% if entity.cvbreu is not null %}
            <div class="media">
                <a href="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ entity.cvbreu.webpath }}" target="_blank">{{ 'personal.cvbreu' |trans({}, 'app') }}</a>

                {% if app.user and is_granted("ROLE_EDITOR") %}
                    <div class="trash left" title="esborrar" data-path="{{ path('delete_cvabbr_ajax', { 'id': entity.id }) }}"></div>
                {% endif %}    

            </div>            
        {% endif %}
    </div>
</div>
