
<div class="personal hoverable">
    <div class="picture desktop-2 tablet-2 mobile-1">
        {% if entity.foto is not null %}
            <div class="media">
                <img src="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ entity.foto.webpath }}" width="100" >

                {% if app.user and is_granted("ROLE_EDITOR") %}
                    <div class="trash" title="esborrar" data-path="{{ path('delete_image_ajax', { 'id': entity.id }) }}"></div>
                {% endif %}    

            </div>

        {% endif %}
    </div>
    <div class="perfil">
        <div class="nom">{{ entity.cognoms }}, {{ entity.nom }}</div>
        
        {% if app.request.locale != 'en' %}
          <div class="tipus">{{ entity.tipus | categoria |trans({}, 'app') }} {% if entity.jornada is not null and entity.jornada != "varis" %} {{ entity.jornada | dedicacio |trans({}, 'app') }} {% endif %} </div>        
        {% endif %}
        
        {% if entity.dataAlta is not null %}            
            <div class="alta-baixa">
                <span>{{ 'labels.dataalta' |trans({}, 'app') }}: {{ entity.dataAlta | date('d/m/Y') }}</span>
                {% if entity.dataAlta is not null and entity.dataBaixa is not null %}
                    <span>{{ 'labels.databaixa' |trans({}, 'app') }}: {{ entity.dataBaixa | date('d/m/Y') }}</span>
                {% endif %}
            </div>
        {% endif %}
        
        {% if entity.especialitat is not null %}
            <div class="especialitat">{{ 'labels.especialitat' |trans({}, 'app') }}: {{ entity.especialitat | especialitat |trans({}, 'app') }}</div>
        {% endif %}
      
        <div class="email"><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></div>
        
        {% if entity.telefon is not null %}
            <div class="tel">{{ entity.telefon }}</div>
        {% endif %}
        {% if entity.despatx is not null %}
            <div class="despatx">{{ 'labels.despatx' |trans({}, 'app') }}: {{ entity.despatx }}</div>
        {% endif %}    
        {% if entity.perfil is not null %}
            <p class="perfil">{{ entity.perfil|truncate(400) }}</p>
        {% endif %}
        
        <div class="row">
            <a class="right" href="{{ path('personal_show', { 'id': entity.id }) }}">{{ 'labels.perfil_complet'|trans({}, 'app') }}</a>
        </div>        
    </div>
</div>
