{% extends 'frontend.html.twig' %}

{% block body -%}
    
    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="edicio">

                <a href="{{ path('personal_edit', { 'id': entity.id, '_locale':'ca' }) }}">Editar CA</a>
                <a href="{{ path('personal_edit', { 'id': entity.id, '_locale':'es' }) }}">Editar ES</a>
                <a href="{{ path('personal_edit', { 'id': entity.id , '_locale':'en' }) }}">Editar EN</a>        
                <a  href="{{ path('personal_delete', { 'id': entity.id }) }}" class="delete">Eliminar</a>
        </div>
    {% endif %}
    
    <div class="padded">
        {% include 'Personal/personal.html.twig' with {'entity': entity } %}
    </div>
    
    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="edicio right clearfix">
            <a href="{{ path('projecte_new', { 'id': entity.id }) }}">Afegir projecte</a>
        </div>
    {% endif %}
        
    {% if projectes|length > 0 %}    
        <h2>{{ 'personal.projectes' |trans({}, 'app') }}</h2>
    {% endif %}
    
    <div class="padded">
        {% for grup in projectes %}
            <h3>{{ grup.nom }}</h3>
            {% for projecte in grup.projectes %}
                <div class="record split">
                    {% include 'Projecte/projecte.html.twig' with { 'entity': projecte, 'personal': entity.id } %}
                </div>
            {% endfor %}
        {% endfor %} 
    </div>
    
    
    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="edicio right clearfix">
            <a href="{{ path('publicacio_new', { 'id': entity.id }) }}">Afegir publicació</a>
        </div>
    {% endif %}
        
    {% if publicacions|length > 0 %}    
        <h2>{{ 'personal.publicacions' |trans({}, 'app') }}</h2>
    {% endif %}
    
    <div class="padded">
        {% for grup in publicacions %}
            <h3>{{ grup.nom }}</h3>
            {% for publicacio in grup.publicacions %}
                <div class="record split">
                    {% include 'Publicacio/publicacio.html.twig' with { 'entity': publicacio, 'personal': entity.id } %}
                </div>
            {% endfor %}
        {% endfor %}    
    </div>
    
    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="edicio right clearfix">
            <a href="{{ path('docencia_new', { 'id': entity.id }) }}">Afegir docència</a>
        </div>
    {% endif %}    
    
    {% if docencies|length > 0 %}
        <h2>{{ 'personal.docencia' |trans({}, 'app') }}</h2>
    {% endif %}
    {% for docencia in docencies %}
        <div class="record split">            
            {% include 'Docencia/docencia.html.twig' with {'entity': docencia, 'personal': entity.id } %}
        </div>        
    {% endfor %}             
{% endblock %}
