
<div class="docencia">
    
    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="edicio right amagat">
            <a href="{{ path('docencia_edit', { 'id': entity.id, 'personal': personal, '_locale':'ca' }) }}">Editar CA</a>
            <a href="{{ path('docencia_edit', { 'id': entity.id, 'personal': personal, '_locale':'es' }) }}">Editar ES</a>
            <a href="{{ path('docencia_edit', { 'id': entity.id, 'personal': personal, '_locale':'en' }) }}">Editar EN</a>
            <a href="{{ path('docencia_delete', { 'id': entity.id, 'personal': personal }) }}" class="delete">Eliminar</a>
        </div>
    {% endif %} 

    <span><a href="{{ entity.ruta }}">{{ entity.nom }}</a></span>
    
</div>
