{% extends 'frontend.html.twig' %}

{% form_theme edit_form 'form.html.twig' %}

{% block body -%}
    <div class="zona-edicio">
        <h1>Editant periode de docència per a {{ personal.nomcognoms }}</h1>

        <form method="POST" action="{{ path('docencia_update', { 'id': entity.id, 'personal': personal.id, '_locale': _locale }) }}" {{ form_enctype(edit_form) }} class="pure-form pure-form-aligned">
            {{ form_widget(edit_form) }}

            <div class="pure-controls">
                <a class="pure-button pure-button-active" href="{{ path('personal_show', { 'id': personal.id }) }}">Cancelar</a>
                <input class="pure-button pure-button-active" type="submit" value="Guardar" />
            </div>
        </form>
    </div>

{% endblock %}
