{% extends 'frontend.html.twig' %}

{% form_theme form 'form.html.twig' %}

{% block body -%}
    <div class="zona-edicio">
        <h1>Nou periode de docència per a {{ personal.nomcognoms }}</h1>

        <form method="POST" action="{{ path('docencia_create', { 'id': personal.id }) }}" {{ form_enctype(form) }} class="pure-form pure-form-aligned">
            {{ form_widget(form) }}

            <div class="pure-controls">
                <a class="pure-button pure-button-active" href="{{ path('personal_show', { 'id': personal.id }) }}">Cancelar</a>
                <input class="pure-button pure-button-active" type="submit" value="Crear" />
            </div>
        </form>

    </div>
    
{% endblock %}
