
<div class="projecte padded">
    
    <div class="per_sobre" id="projecte_{{ entity.id }}" ></div>
    
    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="edicio right amagat">
            <a href="{{ path('projecte_edit', { 'id': entity.id, 'personal': personal, '_locale':'ca' }) }}">Editar CA</a>
            <a href="{{ path('projecte_edit', { 'id': entity.id, 'personal': personal, '_locale':'es' }) }}">Editar ES</a>
            <a href="{{ path('projecte_edit', { 'id': entity.id, 'personal': personal, '_locale':'en' }) }}">Editar EN</a>
            <a href="{{ path('projecte_delete', { 'id': entity.id, 'personal': personal }) }}" class="delete">Eliminar</a>
        </div>
    {% endif %} 
    
    <div class="titol">{{ entity.titol }}</div>
    <div class="investigador_principal">{{ 'labels.investigador' |trans({}, 'app') }}: <b><a href="{{ path('personal_show', { 'id': entity.investigador.id }) }}"> {{ entity.investigador.nomCognoms }}</a></b></div>
    <div class="membres">{{ 'labels.membres' |trans({}, 'app') }}: <b>{{ membres(entity, true) | raw }}</b></div>
    <div class="periodes"><span>{{ 'labels.any_inici' |trans({}, 'app') }}: {{ entity.inici }}</span> {% if entity.final is not null %}&nbsp;&nbsp;<span> {{ 'labels.any_finalitzacio' |trans({}, 'app') }}: {{ entity.final }}</span>{% endif %} </div>
    <div class="codi">{{ 'labels.codi' |trans({}, 'app') }}: {{ entity.codi }}</div>
    {% if entity.descripcio is not null %}
        <p class="descripcio">{{ entity.descripcio }}</p>
    {% endif %}
    {% if entity.link is not null %}
        <a href="{{ entity.link }}" target="_blank">{{ 'labels.mes_info' |trans({}, 'app') }}</a>
    {% endif %}
</div>

