
<div class="projecte padded">
    <div>
        <span><b><a href="{{ path('personal_show', { 'id': entity.investigador.id }) }}"> {{ entity.investigador.cognoms }}, {{ entity.investigador.nom | slice(0, 1) }}.</a></b> ({{ 'labels.investigador' |trans({}, 'app') }}).</span>
        {% if entity.colaboradors|length > 0 %}
            <span><b>{{ membres(entity, true) | raw }}</b>({{ 'labels.investigadors' |trans({}, 'app') }}).</span>
        {% endif %}
        <span>"{{ entity.titol }}".</span>
        {% if entity.descripcio is not null %}
            <span>{{ entity.descripcio }}</span>
        {% endif %}
        <span>{{ 'labels.any_inici' |trans({}, 'app') }}: {{ entity.inici }} {% if entity.final is not null %} - {{ 'labels.any_finalitzacio' |trans({}, 'app') }}: {{ entity.final }}{% endif %}.</span>
        {% if entity.codi is not null %}
          <span>{{ 'labels.codi' |trans({}, 'app') }}: {{ entity.codi }}</span>
        {% endif %}  
    </div>
    
    {% if entity.link is not null %}
        <a href="{{ entity.link }}" target="_blank">{{ 'labels.mes_info' |trans({}, 'app') }}</a>
    {% endif %}

</div>

