<div class="record split" data-id="{{ entity.id }}">
    <div class="event">
        <h3><a href="{{ path("events_show", { 'slug': entity.slug }) }}">{{ entity.titol }}</a></h3>
        <div>{{ entity.data |date('d/m/Y') }} {% if entity.hora is not null %} - {{ entity.hora |date('H:i')}}{% endif %}</div>
        <p>{{ entity.texte|truncate(400) |raw }}</p>
        <a class="right" href="{{ path("events_show", { 'slug': entity.slug }) }}">{{ 'labels.ver_mas'|trans({}, 'app') }}</a>
    </div>
</div> 