<div class="event">
    
    <h3><a href="{{ path("events_show", { 'slug': entity.slug }) }}">{{ entity.titol }}</a></h3>
    
    <h3 class="data-event">{{ entity.data | date('d/m/Y') }}</h3>
    
    {% if entity.foto is not null %}
        <div class="media">
            <img src="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ entity.foto.webpath }}" >

            {% if app.user and is_granted("ROLE_EDITOR") %}
                <div class="trash" title="esborrar" data-path="{{ path('delete_image_event_ajax', { 'id': entity.id }) }}"></div>
            {% endif %}    

        </div>
    {% endif %}

    <p>{{ entity.texte |raw }}</p>
</div>
