{% extends 'frontend.html.twig' %}

{% block body -%}
    <article>
        <div class="padded">

            <h1>{{ title |trans({}, 'app') }}</h1>
            
            {% if app.user and is_granted("ROLE_EDITOR") %}
                <div class="edicio right clearfix">
                    <a href="{{ path('events_new') }}">Afegir un de nou</a>
                </div>
            {% endif %}
            
            <h2>{{ 'events_futurs' | trans({}, 'app') }}</h2>    
            {% for entity in future %}
                {% include 'Event/event_resumido.html.twig' with {'entity': entity } %}
            {% else %}
                <p>{{ 'sense_events' | trans({}, 'app') }}</p>    
            {% endfor %}    
            
            <h2>{{ 'events_passats' | trans({}, 'app') }}</h2>    
            {% for entity in passat %}
                {% include 'Event/event_resumido.html.twig' with {'entity': entity } %}
            {% else %}
                <p>{{ 'sense_events' | trans({}, 'app') }}</p>    
            {% endfor %}    

        </div>
    </article>

{% endblock %}    
