{% for entity in entities %}
    <article class="split left" data-id="{{ entity.id }}">
        <div class="date_circle">
            <time>
                <span class="month">{{ entity.data |date('m') }}</span>
                <span class="year">{{ entity.data |date('d') }}</span>                
            </time>
        </div>
        <div class="contain">
            <h3><a href="{{ path('events_show', { 'slug': entity.slug }) }}">{{ entity.titol }}</a></h3>
            
        </div>
    </article>
{% else %}
    <p>{{ 'sense_events' | trans({}, 'app') }}</p>    
{% endfor %}   
