{% block news %}
    <article>
        <div class="padded">
            
            {% include 'Event/llistat.html.twig' with { 'entities': entities } %}

        </div>
    </article>

{% endblock %} 
