{% extends 'frontend.html.twig' %}

{% block body -%}
    
    <div class="padded">
        <a class="return right" href="{{ path('events_index') }}">{{ 'tornar_events' |trans({}, 'app') }}</a>
    </div>
    
    {% if app.user and is_granted("ROLE_EDITOR") %}
        <div class="edicio">
                <a href="{{ path('events_edit', { 'id': entity.id }) }}">Editar</a>
                <a  href="{{ path('events_delete', { 'id': entity.id }) }}" class="delete">Eliminar</a>
        </div>
    {% endif %}
    
    <div class="padded">
        {% include 'Event/event.html.twig' with {'entity': entity } %}
    </div>
    
{% endblock %}    