{% extends 'frontend.html.twig' %}

{% block body -%}
    
        <div class="padded">

            <h1>{{ title |trans({}, 'menu') }}</h1>
            
            {% if app.user and is_granted("ROLE_EDITOR") %}
                <div class="edicio right clearfix">
                    <a href="{{ path('model_new') }}">Afegir un nou</a>
                </div>
            {% endif %}    

            {% for grup in entities %}
                <h3 class="capitalize">{{ grup.nom }}</h3>
                {% for entity in grup.models %}
                    <div class="record split" data-id="{{ entity.id }}">
                        {% include 'Models/model.html.twig' with {'entity': entity } %}
                    </div>        
                {% endfor %}   
            {% endfor %}    

        </div>

    
{% endblock %}
