
<div class="pagina">
    <div class="row">      
        {% if app.user and is_granted("ROLE_EDITOR") %}
            <div class="edicio amagat">
              
              {% if app.request.locale == 'ca' %}
                <a href="{{ path('model_edit', { 'id': entity.id, '_locale':'ca' }) }}">Editar CA</a>
              {% endif %}
              
              {% if app.request.locale == 'es' %}
                <a href="{{ path('model_edit', { 'id': entity.id, '_locale':'es' }) }}">Editar ES</a>
              {% endif %}
              
              {% if app.request.locale == 'en' %}  
                <a href="{{ path('model_edit', { 'id': entity.id, '_locale':'en' }) }}">Editar EN</a>
              {% endif %}
              
               <a href="{{ path('model_delete', { 'id': entity.id }) }}" class="delete">Eliminar</a>
            </div>
        {% endif %}

        <div class="media">            
            <div class="model"><a href="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ entity.arxiu.webpath }}" target="_blank">{{ entity.nom }}</a></div>
        </div>                
    </div>
</div>
