{% extends 'frontend.html.twig' %}

{% form_theme form 'form.html.twig' %}

{% block body -%}    
    <div class="zona-edicio">
        <h1>Editant {{ entity.nom }}</h1>
        
        <form action="{{ path('menu_update', { 'id': entity.id, '_locale': _locale }) }}" method="POST" {{ form_enctype(form) }} class="pure-form pure-form-aligned">
            {{ form_widget(form) }}

            <div class="pure-controls">
                <a class="pure-button pure-button-active" href="{{ path('menus_index') }}">Cancelar</a>
                <input class="pure-button pure-button-active" type="submit" value="Guardar" />
            </div>
        </form>
    </div>
    
{% endblock %}
