{% extends 'frontend.html.twig' %}

{% block title %}{{ parent() }} - {{ title |trans({}, 'menu') }}{% endblock %}

{% block body -%}
        <div class="padded">
            <h1>{{ title |trans({}, 'menu') }}</h1>

            <div class="edicio right clearfix">
                <a href="{{ path('menu_new') }}">Afegir un nou</a>
            </div>

            
            {% for entity in entities %}
                
                <div class="padded">
                    <h3>{{ entity.nom }}</h3>
                    {% for link in entity.links %}
                        <div class="record split">
                            {% include 'Menu/menu.html.twig' with { 'entity': link } %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}   

        </div>

{% endblock %}
