
<div class="menus">
    <div class="row {% if entity.pagina is not null  %}disabled{% endif %}">
        {% if app.user and is_granted("ROLE_EDITOR") and entity.pagina is null %}
            <div class="edicio amagat">

                    <a href="{{ path('menu_edit', { 'id': entity.id, '_locale': 'ca' }) }}">Editar CA</a>
                    <a href="{{ path('menu_edit', { 'id': entity.id, '_locale': 'es' }) }}">Editar ES</a>
                    <a href="{{ path('menu_edit', { 'id': entity.id, '_locale': 'en' }) }}">Editar EN</a>
                    <a  href="{{ path('menu_delete', { 'id': entity.id }) }}" class="delete">Eliminar</a>
            </div>
        {% endif %}
        <span>{{ entity.nom }}</span>
        <span>{{ entity.ruta }}</span>
        <span><a href="{% if entity.pagina is not null %}{{ path('pagina_show', { 'slug': entity.ruta }) }}{% else %}{{ entity.ruta }}{% endif %}">Comproba</a></span>
    </div>
</div>
